<div class="d-flex">
  <!-- Sidebar -->
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
    style="width: 280px; height: 100vh; position: fixed"
  >
    <a
      routerLink="/dashboard"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-4">Sidebar</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          class="nav-link active"
          aria-current="page"
        >
          Home
        </a>
      </li>
      <li><a routerLink="employee" class="nav-link text-white">Employee</a></li>
      <li><a routerLink="chart" class="nav-link text-white">Chart</a></li>
      <li>
        <a routerLink="newchart2" class="nav-link text-white">New Chart 2</a>
      </li>
      <li>
        <a routerLink="newpage1" class="nav-link text-white">New Page 1</a>
      </li>
      <li>
        <select
          class="bg-dark text-white border-0"
          style="margin-left: 40px"
          [(ngModel)]="selectRole"
          (ngModelChange)="changeRole($event)"
        >
          <option value="">Select</option>
          <option value="User">User</option>
          <option value="Guest">Guest</option>
        </select>
      </li>
      <li>
        <a routerLink="/dashboard" class="nav-link text-white">Customers</a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="" alt="" width="32" height="32" class="rounded-circle me-2" />
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div
    class="content-area"
    style="margin-left: 280px; padding: 20px; width: calc(100% - 280px)"
  >
    <router-outlet></router-outlet>
  </div>
</div>
